<h4>
  <%= " #{@results.data.count} Result(s) for '#{@results.support[:word]}'" %>
</h4>
<div class="grid-x grid-margin-x">
  <% @results.data.each do |result| %>
    <div class="cell small-3">
      <%= render(partial: 'results', locals: { result: result }) %>
    </div>
  <% end %>
</div>

<%= render(partial: 'show_more', locals: { support: @results.support }) %>
<%= render(partial: 'show_published', locals: { support: @results.support }) %>
