<div class="grid-x sign-table-row show-for-large sign-table-row__header">
  <div class="cell large-3">Video</div>
  <div class="cell large-9">
    <div class="grid-x grid-margin-x">
      <div class="cell large-2 ">
        Word
      </div>

      <div class="cell large-1 ">
        Status
      </div>

      <div class="cell large-2 ">
        Submitted
      </div>

      <div class="cell auto">
        Activity
      </div>
    </div>
  </div>
</div>
