<div class="grid-x grid-margin-x">
  <nav class="cell" aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><%= link_to "Folders", folders_path %></li>
      <li>
        <span class="show-for-sr">Current: </span> <%= @folder.title %>
      </li>
    </ul>
  </nav>
  <%= render "signs/card", collection: @folder.signs, as: :sign %>
</div>
