<% provide(:title, "Topics") %>

<div class="grid-x grid-margin-x">
  <nav class="cell shrink" aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li>
        <span class="show-for-sr">Current: </span> Topics
      </li>
    </ul>
  </nav>

  <div class="grid-x cell">
    <h1>Topics</h1>
    <div class="grid-x grid-margin-x">
    <% @topics.each do |topic| %>
      <div class="cell medium-6 large-4 small-12 content-container"><%= link_to content_tag(:h4, topic.name, class: "primary"), topic %></div>
    <% end %>
    </div>
  </div>
</div>
