<% provide(:title, "Topics") %>

<div class="grid-x">
  <nav class="cell shrink" aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li>
        <span class="show-for-sr">Current: </span> Topics
      </li>
    </ul>
  </nav>

  <div class="grid-x cell list">
    <div class="list__title list__section cell">
      <h1>Topics</h1>
      <%= link_to(public_signs_path, class: "button royal primary") do %>
        See all signs
      <% end %>
    </div>
    <hr class="list__divider">
    <div class="list__section list__section--topics cell">
      <% @topics.each do |topic| %>
        <%= link_to content_tag(:p, topic.name, class: "royal"), topic, class: "no-underline" %>
      <% end %>
    </div>
  </div>
</div>
