<% provide(:title, "Topics") %>

<div class="grid-x">
  <nav class="cell shrink" aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li>
        <span class="show-for-sr">Current: </span> Topics
      </li>
    </ul>
  </nav>

  <div class="grid-x cell list">
    <div class="list__title list__section cell">
      <h1>Topics</h1>
    </div>
    <hr class="list__divider">
    <div class="list__section list__section--topics cell">
      <% @topics.each do |topic| %>
            <div class="margin-top-1"><%= link_to content_tag(:h4, topic.name, class: "primary"), topic %></div>
      <% end %>
    </div>
  </div>
</div>
