<section class="navigation__wrapper" id="main-menu" data-toggler=".navigation__wrapper--open">
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__title"><a href="/"><strong>NZSL</strong> <em>Share</em></a></li>
    </ul>
    <ul class="menu navigation__list--right">
      <li class="navigation__item">
        <a href="#">
          <%= image_pack_tag "eye.svg", :"aria-hidden" => true %>
          <span class="sr-only">Restricted mode</span>
        </a>
      </li>

      <li class="navigation__item">
        <a href="#" class="badged">
          <%= image_pack_tag "bell.svg", :"aria-hidden" => true %>
          <span class="sr-only">Notifications</span>
        </a>
      </li>
      <li class="navigation__item">
        <a href="#">
          <%= image_pack_tag "emotsmile.svg", :"aria-hidden" => true %>
          <span class="sr-only">Smile?</span>
        </a>
      </li>
      <li class="navigation__item">
        <button class="navigation__button--upload accent">
          <i class="fa fa-2x fas fa-plus-circle"></i>
          Upload a term
        </button>
      </li>
    </ul>
  </nav>

  <button class="navigation__button navigation__button--close" aria-label="Close menu" type="button" data-toggle="main-menu">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="callout callout light expanded">
  <label class="sr-only">Search</label>
  <input
    type="search"
    placeholder="Search by English or Search by English or MÄori keywords"
  />
</div>
</section>
