<form class="search-bar" action="/search" method="get">
  <label class="show-for-sr" for="word">Search</label>
  <input class="search-bar__input" id="word" type="text" name="search[word]" placeholder="Search">
  <button class="search-bar__button" type="submit" placeholder="Submit" aria-label="Search Button" ><i class="search-bar__icon"></i></button>
</form>
