<form class="search-bar" action="/search" method="get">
  <label>
    <span class="show-for-sr">Search</span>
    <input
      name="word"
      type="search"
      class="search-bar__input"
      placeholder="Search signs"
    />
  </label>
</form>
