<div class="grid-x">
  <div class="form cell content-container">
    <img
          class="avatar"
          src="https://picsum.photos/id/550/64/64"
          alt="Profile Image"
        />
    <h1><%= @user.username %></h1>
    <hr class="form__divider"/>
    <p>My bio</p>

  </div>
</div>
