.comment {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.02);
  font-family: inherit;
  margin-top: 20px;

  hr {
    color: #eceeee;
    height: 1px;
    width: 100%;
  }

  &--detail {
    background-color: #eceeee;
    border-radius: 12px;
    font-size: 13px;
    height: auto;
    line-height: 1.77;
    padding: 10px;

    &--avatar {
      padding: 10px;
    }

    &--username {
      color: #354ae7;
      font-weight: 600;
    }

    &--comment {
      color: #041723;
      font-weight: 500;
    }

    &--options {
      padding: 10px;
    }

    &--reply {
      padding: 10px;
    }
  }

  &--title {
    color: #041723;
    font-size: 18px;
    font-weight: bold;
    margin: 21px 0 0 18px;
  }

  &--count {
    color: #646970;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.77;
    margin: 21px 16px 0 0;
    text-align: right;
  }
}
