.copy {
  margin: 2rem 0;
  padding: 0 auto;

  &__container {
    padding: 1rem;
  }

  &__icon {
    margin-bottom: 24px;
    position: relative;
  }

  &__signs {
    margin: 5rem 0 0;

    h2 {
      margin-bottom: 2rem;
    }
  }

}
