.error {
  &__input {
    border: 2px solid get-color(alert);
    margin-bottom: rem-calc(8);
  }

  &__helper-text {
    background: get-color(alert-x-light);
    border-radius: $global-radius;
    color: get-color(alert);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: $global-margin;
    padding: $global-padding / 2;
    text-align: right;
  }
}
