.form {
  background: $white;
  border-radius: rem-calc(8);
  margin-bottom: 2rem;
  padding: $global-padding;

  &__buttons {
    // Pull buttons to the edges to make border full-width, then
    // reapply paddding to space container properly.

    border-top: solid 1px $extra-light-gray;
    margin: -$global-padding;
    padding: $global-padding;

    &--cancel {
      margin-right: $global-margin;
    }
  }

  &__divider {
    background-color: get-color(primary-x-light);
    border: 0;
    clear: both;
    display: block;
    height: 1px;
    margin: 0;
    width: 100%;
  }
}
