.header {
  border-top: solid 2px get-color(accent);
  position: fixed;
  top: 0;
  width: 100%;

  &__bar {
    @extend .title-bar;

    @include breakpoint(medium) {
      display: none;
    }

    &--left {
      flex: 1 0 auto;
    }

    &--right {
      flex: 0 1 auto;
    }
  }

  &__bar-title {
    @extend .title-bar-title;
    font-size: 1.2rem;
  }
}

// Push content down to account for the header
body {
  @include breakpoint(small) {
    padding-top: 133px;
  }

  @include breakpoint(medium) {
    padding-top: 72px;
  }

  @include breakpoint(large) {
    padding-top: 68px;
  }
}

.header__bar + .header__bar {
  padding-top: 0;
}
