.links {
  background: get-color(accent-blue);
  border-radius: $global-radius * 2;
  color: get-color(medium);
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 600;
  margin-top: $global-margin * 2;
  padding: 8px 16px;

  &__divider {
    margin: 0 12px;
  }

  &__home {
    color: get-color(royal);
  }
}
