.messages {
  &--float {
    @extend .small-12;
    @extend .medium-11;
    @extend .large-8;
    @extend .large-offset-2;

    display: flex;
    justify-content: center;
    margin-top: -4.5rem;
    position: absolute;
    z-index: 100;

    @include breakpoint(medium) {
      margin-top: 0;
    };

    .home-page-messages {
      width: 75%;

      @include breakpoint(xxlarge) {
        width: 70%;
      };

      @include breakpoint(xxlarge) {
        width: 65%;
      };
    }
  }
}
