.modal-form {
  border-radius: $global-radius * 2;
  box-shadow: 0 8px 22px 0 $black;
  max-width: rem-calc(514);

  &__close-button {
    cursor: pointer;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    h2 {
      margin-bottom: 0;
      padding: 0.5rem 0;
    }
  }

  &__fields {
    margin-bottom: 1rem;
  }

  &__buttons {
    margin-top: $global-margin * 2;

    .button {
      margin: 0;
    }
  }
}
