.navigation {  // sass-lint:disable-block no-important

  @include breakpoint(medium) {
    @include flex;
    border-top: get-color(accent) solid 4px;
    justify-content: space-between;
    margin-bottom: 0;
  }

  &__wrapper {
    background-color: $primary-color;
    margin-bottom: 2 * $global-margin;

    @include breakpoint(small down) {
      height: 100%;
      left: -100%;
      position: absolute;
      top: 0;
      transition: 0.5s ease;
      width: 320px;
      z-index: 10;

      &--open {
        left: 0;
      }
    }

    @include breakpoint(large) {
      background-color: $primary-color;
    }
  }

  &__list {
    @extend .accordion-menu;
    @include menu-base;
    @include menu-direction(vertical);

    @include breakpoint(large) {
      @include menu-direction(horizontal);
      justify-content: flex-end;
      margin-bottom: 0;
      width: auto;
    }

    &.is-active {
      background: $extra-light-gray;
      padding-left: $global-padding;

      @include breakpoint(large) {
        background: $white;
        border: $light-gray solid 1px;
        left: 0;
        margin-left: $global-margin;
        position: absolute;
        top: 100%;
        width: auto;
        z-index: 100;
      }
    }

    &--right {
      justify-self: right;
      margin-left: auto;

      .navigation__item {
        &:last-child {
          .navigation__list {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }

  &__title {
    @extend .navigation__item;

    &,
    & a {
      font-size: 1.5rem;
      font-weight: normal !important;
    }
  }

  &__input {
    background: get-color(primary-x-light);
    margin: 0;
    @include breakpoint(medium) {
      border-radius: $global-radius;
      margin: 0.5rem auto !important;
    }

    &--search {
      background-image: url("images/search.svg");
      background-position: calc(100% - 1rem);
      background-repeat: no-repeat;
      padding-right: 2rem;
    }
  }

  &__item {
    @include breakpoint(large) {
      @include flex;
      @include flex-align(left, middle);
      width: auto !important;

    }

    a {
      color: $white;
      font-weight: bold;
      width: 100%;

      @include breakpoint(medium) {
        padding: 1rem;
      }
    }
  }

  &__button {
    &--upload {
      @extend .button;
      @include button-expand(true);
      font-size: 1.5rem;
      margin-right: 1rem;
      padding: 0.5rem 1rem !important;
    }

    &--close {
      @extend .close-button;

      @include breakpoint(medium) {
        display: none;
      }
    }

    &--toggle {
      @extend .menu-icon;
    }
  }
}

.submenu-toggle {
  outline: none;
}

.no-js {
  .navigation__list {
    .navigation__list {
      display: none;
    }
  }
}
