.notice {
  @include callout-base;
  margin: $global-margin;

  &__success {
    background: get-color(success-x-light);
    border-radius: $global-radius;
  }

  &__alert {
    background: get-color(alert-x-light);
    border-radius: $global-radius;
  }
}
