.sidebar {
  li { padding: 0; }

  @include breakpoint(small only) {
    margin-top: 120px;
    max-height: 100vh;
    max-width: 100vw;
    padding-top: 2rem; // Make space for the close button
    width: 100%;
  }

  .menu > li > a {
    flex-direction: row;

    img + span,
    svg + span {
      flex: 1;
      margin-left: 1rem;
    }
  }

  @include breakpoint(medium only) {
    margin-top: 72px; // Height of title bar

    .menu > li > a {
      flex-direction: column;
      font-size: 80%;
      padding: 1rem 0 1rem 0.5rem;

      img + span,
      svg + span {
        margin: 1rem auto auto;
      }
    }
  }

  @include breakpoint(large) {
    margin-top: 68px; // Height of title bar
  }


  .is-active  {
    @include icon-fill(get-color(royal));

    a {
      border-bottom-right-radius: rem-calc(24);
      border-top-right-radius: rem-calc(24);
      font-weight: bold;
    }
  }

  .menu  {
    border-bottom: solid 1px $extra-light-gray;
    padding: 1rem 0.5rem 1rem 0;
  }

  // https://foundation.zurb.com/sites/docs/off-canvas.html#off-canvas-sizes:
  // Please note the sizes maps do currently not work perfectly for the reveal classes.
  // If sizes are defined for medium and large, .reveal-for-medium will only consider the medium value.
  // This is going to get fixed in a future release.
  &.position-left {
    &.reveal-for-medium ~ .off-canvas-content {

      @include breakpoint(large) {
        margin-left: map-get($offcanvas-sizes, large);
      }
    }
  }
}
