.sign-comments {
  background-color: $white;
  border-radius: 0.5rem;
  box-shadow: 0 0.625 1.5rem 0 rgba(0, 0, 0, 0.02);
  margin-top: 1.25rem;

  &__divider-top {
    border-bottom: solid 1px $background;
    margin-bottom: 1.75rem;
    margin-top: 1.75rem;
  }

  &--heading {
    color: $black;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 1.25rem 0 0 1.125rem;
  }

  &--total {
    color: $medium-gray;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.77;
    margin: 1.25rem 1rem 0 0;
    text-align: right;
  }

  &__username-with-comment {
    background-color: get-color(extra-light);
    border-radius: 0 0.75rem 0.75rem;
    font-size: 0.875rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  &__username {
    &--url {
      color: get-color(royal);
      font-weight: bold;
      padding-right: 0.5rem;
      text-decoration: none;
    }
  }

  &__reply-with-comment-date {
    color: $medium-gray;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    margin-left: 3.25rem;
  }
}

.sign-comment {
  &--heading {
    font-size: 0.875rem;
    font-weight: bold;
  }

  &__text-area {
    &--text {
      border-radius: 0.75rem;
      font-size: 0.875rem;
    }
  }

  &__select {
    width: 30%;

    &__items {
      background-color: get-color(extra-light);
      border: 0;
      border-radius: 0.25rem;
      color: get-color(royal);
      font-size: 0.875rem;
      font-weight: bold;
      outline: none;
    }
  }
}
