$sign-card-width: rem-calc(258);

.sign-grid {
  display: grid;

  // Sass-lint doesn't know about the 'gap' property?
  gap: 1rem; // sass-lint:disable-line no-misspelled-properties
  grid-template-columns: repeat(auto-fill, $sign-card-width);
  padding-bottom: 300px; // Matches sign-card folder menu max height to prevent container overflows

  &--not-bottom {
    padding-bottom: 0;
  }
}

.sign-grid__header {
  @include xy-cell;

  border-bottom: solid 1px $lighter-gray;
  margin-bottom: 2rem;
  margin-top: 3rem;
  padding-bottom: 1rem;
}
