.sign-card {
  @include card-container;
  min-height: rem-calc(334);
  overflow: visible;
  position: relative;
  width: rem-calc(258);

  &--borderless {
    border-color: transparent;
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.02);
  }

  & .avatar {
    position: absolute;
    right: 16px;
    top: 132px;
  }



  &__folders {
    &__button {
      background: $white;
      border-radius: 50%;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18);
      height: 40px;
      position: relative;
      width: 40px;

      svg {
        @include icon-fill(royal);
        @include icon-size(mid);
      }

      &:hover {
        background: rgba(4, 23, 35, 0.1);
      }

      // This actually means 'active' in Foundation
      &.hover {
        background: get-color(royal);

        svg {
          @include icon-fill(white);
        }
      }
    }

    &__menu {
      @include dropdown-container;
      border: solid 1px #bdc1c4;
      border-radius: 8px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18);
    }
  }

  &__divider {
    border-bottom: solid 1px $background;
    margin: 0 0 1rem;
  }

  &__section {
    @extend .card-section;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    color: get-color(royal);
    font-weight: bold;
    margin: 8px 0;
    text-decoration: underline;
  }

  &__media {
    @include responsive-embed;
    margin-bottom: 0;
  }

  &__subtitle {
    color: get-color(medium);
    display: flex;
    flex-direction: row;
    font-size: rem-calc(13);
    font-weight: 500;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__votes {
    color: get-color(medium);
    display: flex;
    flex-direction: row;
    font-size: rem-calc(13);
    font-weight: 600;

    &--agree {
      display: flex;
      margin-right: 25px;
    }

    &--disagree {
      display: flex;
    }

    &--icon {
      height: rem-calc(16);
      margin-right: 8px;
      width: rem-calc(16);
    }
  }
}

// sass-lint:disable force-element-nesting,force-pseudo-nesting,no-important
.no-js .sign-card {
  .sign-card__folders__menu:hover,
  &:active .sign-card__folders__menu,
  &:active .sign-card__folders__menu:hover {
    display: block !important;
    visibility: visible !important;
  }
}
// sass-lint:enable
