.sign-table-row {
  border-bottom: 1px $light-neutral-gray solid;
  padding: 0.5rem 0;

  a {
    text-decoration: none;
  }

  &__header {
    font-weight: bold;
    font-size: 0.825rem;
    color: $neutral-gray;

    @media #{$small-only} {
      display: none;
    }
  }

  &__contributor {
    color: inherit;
    font-weight: normal;
    text-decoration: none;

    &:hover {
      color: get-color(royal);
      text-decoration: underline;
    }
  }

  &__image {
    width: 99px;

  }

  &__comments {
    margin-right: 1.5rem;

    a {
      font-weight: normal;
    }
  }

  &__controls {
    &--agree,
    &--disagree,
    &--comments {
      color: get-color(medium) !important;
      display: inline-flex;
      text-decoration: none;
      margin-right: 0.625rem;
    }
  }
}
