<div class="banner grid-x">
  <div class="banner__play-icon cell small-4">
  </div>
  <div class="cell auto grid-x banner__container">
    <h1 class="banner__text cell">Search this community space for NZSL signs posted by the New Zealand Deaf Community</h1>
    <div class="cell">
      <hr class="banner__divider" />
    </div>
    <div class="cell">
      <%= render "application/header/search"%>
    </div>
  </div>
</div>
