<div class="<%= "status status--#{resource.moderator_display_name.downcase}" %>">
  <%= inline_svg_pack_tag "static/images/admin/#{resource.moderator_display_name.downcase}.svg", class: "icon--small icon--white"%>
  <%= resource.moderator_display_name %>
</div>
