<% if %w[personal archived unpublish_requested].include?(resource.status) %>
  <%= resource.status.humanize(capitalize: false) %>
<% else %>
  <div class="<%= "status status--#{resource.status}" %>">
    <%= inline_svg "media/images/admin/#{resource.status}.svg", class: "icon--small" %>
    <%= resource.status  %>
  </div>
<% end %>
