<div class="<%= "status status--#{resource.status_name.downcase}" %>">
  <%= inline_svg "media/images/admin/#{resource.status_name.downcase}.svg", class: "icon--small" if !%w[personal].include?(resource.status) %>
  <%= resource.status_name %>
</div>
