<% if resource.status == "personal" || resource.status == "unpublished" %>
  <%= resource.status  %>
<% else %>
  <div class="<%= "status status--#{resource.status}" %>">
    <%= inline_svg "media/images/admin/#{resource.status}.svg", class: "icon--small" %>
    <%= resource.status  %>
  </div>
<% end %>
