<% provide(:title, "My signs") %>
<div class="grid-x list margin-top-2">
  <div class="list__section">
    <h1>My signs</h1>
    <p class="margin-0">Signs you have contributed.</p>
  </div>
  <div class="list__section margin-vertical-0 cell">
    <%= render "signs/table/header" %>
    <div id="sign-table">
      <%= render partial: "signs/table/row", collection: @signs, as: :sign %>
    </div>
  </div>

  <%= render "show_more" %>
</div>
