<% provide(:title, "My signs") %>
<div class="grid-x list margin-top-2">
  <div class="list__section">
    <h1>My signs</h1>
    <p class="margin-0">Signs you have contributed.</p>
  </div>
  <hr class="list__divider">
  <div class="list__section margin-vertical-0 cell sign-grid">
    <table class="max-width-100">
      <thead>
        <tr>
          <td colspan="2">Video</td>
          <td>Word</td>
          <td>Status</td>
          <td>Submitted</td>
          <td>Activity</td>
        </tr>
      </thead>

      <tbody>
        <%= render partial: "table_row", collection: @signs, as: :sign %>
      </tbody>
    </table>
  </div>

  <%= render "show_more" %>
</div>
