<% provide(:title, "My signs") %>

<div class="sign-grid__header">
  <h1>My signs</h1>
  <p>Signs you have contributed.</p>
</div>

<div class="sign-grid">
  <% @signs.each do |sign| %>
    <%= render "card", sign: sign %>
  <% end %>
</div>
