<% provide(:title, "My signs") %>
<div class="grid-x list margin-top-2">
  <div class="list__section cell">
    <h1>My signs</h1>
  </div>

  <%= render "signs/table/controls" %>

  <div class="list__section margin-vertical-0 cell">
    <%= render "signs/table/header" %>
    <%= render partial: "signs/table/row", collection: @signs, as: :sign %>
  </div>

  <%= render "show_more" %>
</div>
