<% provide(:title, "My signs") %>
<div class="grid-x list margin-top-2">
  <div class="list__section">
    <h1>My signs</h1>
    <p class="margin-0">Signs you have contributed.</p>
  </div>
  <hr class="list__divider">
  <div class="list__section list__section--sign-cards margin-vertical-0 cell sign-grid">
    <%= render partial: "card", collection: @signs, as: :sign %>
  </div>

  <%= render "show_more" %>
</div>
