<hr class="sign-comments__divider">

<div id="new-text-comment">
  <%= render "sign_comments/text", sign: @sign %>
</div>
<div id="new-video-comment" style="display:none;">
  <%= render "sign_comments/video", sign: @sign %>
</div>
