<hr class="sign-comments__divider">

<%= render "sign_comments/shared/comment_type", sign: sign %>

<div class="grid-x align-middle grid-padding-x margin-bottom-2">
  <div class="cell shrink">
  </div>
  <div id="new-text-comment" class="cell auto sign-comment__text-area--new-comment">
    <%= form_with(model: SignComment.new, url: sign_comment_index_path(sign), method: :post) do |f| %>
      <%= f.text_field :comment, required: true, placeholder: "Write your text comment", class: "sign-comment__text-area--text" %>
      <%= render "sign_comments/shared/anonymous", form: f %>
    <% end %>
  </div>
</div>
