<%= render "sign_comments/shared/selects", js_sign_comment: "js-sign-comment-type-new" %>
<div id="new-text-comment">
  <%= render "sign_comments/shared/text", comment: nil %>
</div>
<div id="new-video-comment" style="display:none;">
  <div class="grid-x grid-padding-x margin-bottom-2 sign-comment__video">
    <div class="video-comment cell">
      <%= content_tag(:div, class: "file-upload video-comment-file-upload",
        data: { sign_id: @sign.id, file_upload_controller: "video_comment" }) do %>
        <%= label_tag :"video_comment", "Browse files", class: "button primary large" %>
      <% end %>
    </div>
  </div>
</div>
