<%= render "sign_comments/shared/selects", js_sign_comment: "js-sign-comment-type-reply" %>
<div id="new-text-comment-reply">
  <%= render "sign_comments/shared/text", comment: comment %>
</div>
<div id="new-video-comment-reply" style="display:none;">
  <%= render "sign_comments/shared/video", comment: comment %>
</div>