<%= render "sign_comments/shared/comment_type", sign: comment.sign %>

<div class="grid-x align-middle grid-padding-x">
  <div class="cell shrink">
  </div>
  <div class="cell auto sign-comment__text-area--new-reply">
    <%= form_with(model: SignComment.new, url: reply_sign_comment_path(comment.sign.id, comment.id), method: :post) do |f| %>
      <%= f.text_field :comment, placeholder: "Write your text comment", class: "sign-comment__text-area--text" %>
      <%= render "sign_comments/shared/anonymous", form: f %>
    <% end %>
  </div>
</div>
