<% provide(:title, "Rules") %>
<br/>
<h1>About</h1>
<br>
<p>AboutNZSL Share is an online community space for New Zealand Sign Language (NZSL) users to share and discuss new signs.</p>
<p>NZSL Share is provided and monitored by the <a target="_blank" rel="noopener noreferrer" href="https://www.wgtn.ac.nz/lals/centres-and-institutes/dsru">Deaf Studies Research Unit</a> at Victoria University of Wellington.</p>
<p>
  We also maintain an online dictionary of New Zealand Sign Language (<a target="_blank" rel="noopener noreferrer" href="https://www.nzsl.nz/">nzsl.nz</a>). This dictionary includes over 6,000 NZSL signs that are commonly used and have been validated (checked) by Deaf community members. However, there are many signs that have not (yet) been included in this dictionary – for example,
</p>
<ul>
  <li>signs for new concepts and new technology
  <li>signs related to topics in the news
  <li>signs that are only used by small groups of people for specialised work or study
  <li>names of famous people, like politicians or actors
  <li>things such as brand names, that would not normally be included in a dictionary.</li>
</ul>
<p>
  NZSL Share is designed first of all to be a place for Deaf NZSL users to help NZSL grow and develop. To make it a safe and respectful place to share signs, only approved NZSL Share members will be able to make signs public, vote to say whether they agree or disagree with signs, and comment.
</p>
<p>
  The Deaf Studies Research Unit will use the information contributed to NZSL Share to help in their research and language documentation. Signs from NZSL Share may be added to the online Dictionary of NZSL if there is evidence that they are widely used.
</p>
<p>
  Other people with an interest in NZSL, such as learners, interpreters, parents of deaf children, are invited to browse and search sign videos and read comments. Anyone can save favourite signs to folders,  upload signs privately, share them with others via a link, and set up team folders to discuss new signs with trusted others.
</p>
<br>
<h2>Acknowledgments:</h2>
<br>
<p>NZSL Share was made possible by funding from the <a target="_blank" rel="noopener noreferrer" href="https://www.jrmckenzie.org.nz/apply/">JR McKenzie Trust’s Deaf Development Fund</a>(now closed) and the <a target="_blank" rel="noopener noreferrer" href="https://www.odi.govt.nz/nzsl/">NZSL Board</a></p>


<p>We are grateful to our early testers:</p>

<p>Lisa Alexander, James Berry , Kellye Bensley, Lola Hall, Daniel Harborne , Nicolette Janse van Vuuren, Helen Mackay , Diego Navarro, Ben Swales, Matthew Vink, Wenda Walton</p>

<h2>Project staff:</h2>
<br>
<p>Project manager:&nbsp;&nbsp;&nbsp;Rachel McKee</p>
<p>Project coordinator: &nbsp;&nbsp;&nbsp;Mireille Vale</p>
<p>Project team:&nbsp;&nbsp;&nbsp;Sara Pivac Alexander,&nbsp;&nbsp;David McKee</p>
<p>Website development and maintenance: <a target="_blank" rel="noopener noreferrer" href="https://www.ackama.com/">Ackama</a></p>
<br>
