<% provide(:title, "Privacy Policy") %>
<h1>
  Privacy notice
</h1>
<p>
  NZSL Share cares about your privacy and wants to be open with you about what we do with your personal information.
</p>
<p>
  This Privacy Notice describes how we collect, use, and share personal information and explains your rights in relation to those activities.
</p>
<p>
  We must comply with the Privacy Act 1993, the Public Records Act 2005 and, if you are in the European Union, the General Data Protection Regulation (GDPR).
</p>
<p>
  If you would like to get in contact with us, you can email us at <a href="mailto:privacy@vuw.ac.nz?subject=NZSL%20Online%20Dictionary">privacy@vuw.ac.nz</a> or call 0800 VICTORIA (842 867).
</p>
<h2>
  Who are we?
</h2>
<p>
  NZSL Share is owned by the Deaf Studies Research Unit at Victoria University of Wellington.
</p>
<p>
  We maintain a website:
</p>
<ul><li><a href="https://nzslshare.nz">https://nzslshare.nz</a></li></ul>
<p>
  We have a Facebook page:
</p>
<ul><li><a href="about:blank"> https://www.facebook.com/NZSL-Share-104408607647069</a></li></ul>
<p>
  We maintain a Twitter account:
</p>
<ul><li>@NZSL_Share</li></ul>
<h2>
  Why do we collect your information?
</h2>
<p>
  We collect your information in order to:
</p>
<ul>
  <li>carry out activities that are necessary for the web application to run
  <li>Assess whether you can have an account, be an approved NZSL Share member, or a Validator
  <li>Maintain your account
  <li>communicate with you
  <li>carry out linguistic research about New Zealand Sign Language
  <li>monitor, evaluate and improve our performance and effectiveness</li>
</ul>
<p>
  These are our ‘purposes’ or ‘legitimate interests’.
</p>
<h2>
  How do we collect information?
</h2>
<p>
  We collect information about you in two ways:
</p>
<h3>
  Information that you provide to us
</h3>
<p>
  This is information provided through your discussions and interactions with us and includes
</p>
<ul>
  <li>when you apply for an account, or to be an approved NZSL Share member
  <li>when you are logged in to your account and ask for an admin to take an action
  <li>when you have agreed to be a validator and you reply to a questionnaire
  <li>when you email or phone us
  <li>when you leave a comment on our Facebook page</li>
</ul>
<h3>
  Information we automatically collect
</h3>
<p>
  Information is collected through your use of our website (including via cookies).
</p>
<p>
  We use cookies on our site where they are required for particular features to work – for example, if you are a logged in user, to allow you to remain logged in whilst you complete certain tasks.
</p>
<p>
  We also use tracking cookies to analyse non-identifiable web traffic data to improve our services.This data is aggregated and cannot personally identify you. You can opt out of this at any time.
</p>
<p>
  We use Google Analytics to track use of our website.
</p>
<p>
  Read more about managing your cookie settings: <a href="https://www.victoria.ac.nz/site-info/cookies">https://www.victoria.ac.nz/site-info/cookies</a>
</p>
<h2>
  What information do we collect?
</h2>
<p>
  The information we collect depends on your involvement with NZSL Share.
</p>
<h4>1. Browse the site</h4>
  <p>
    What you can do:
  </p>
  <ul>
    <li>You can browse all publicly posted signs and read / view information and comments about the signs.</li>
  </ul>
  <p>
    Information we collect:
  </p>
  <ul>
    <li>You do not need to provide us with any information</li>
    <li>Tracking cookies may still be used while you browse the site.</li>
  </ul>
<h4>2. Create an account:</h4>
<p>
  What you can do:
</p>
<ul>
  <li>create private folders, and add signs to these folders
  <li>see your own folders
  <li>share a sign or a folder with others via a link
  <li>flag / report comments
  <li>upload private signs, only visible to yourself</li>
</ul>
<p>
  What information we collect:
</p>
<ul>
  <li>your email address</li>
  <li>a username and password chosen by you</li>
  <li>profile information and profile photo / image chosen by you</li>
</ul>
<h4>3. Apply to become an approved NZSL Share member</h4>
<p>
  What you can do:
</p>
<p>
  Everything an account holder can do, and;
</p>
<ul>
  <li>Comment on signs (anonymously or with your user profile), using text or video
  <li>Agree or disagree with signs
  <li>Ask for your sign video to be made public (visible on the website to everyone; open for comments by other NZSL Share members)</li>
</ul>
<p>
  What information we collect:
</p>
<ul>
  <li>your email address
  <li>a username and password chosen by you
  <li>profile information and profile photo / image chosen by you
  <li>your full name
  <li>whether you are deaf or hearing
  <li>whether NZSL is your first language or second language
  <li>other information that you choose to share with us (including age category, where you live, gender, ethnicity, whether you have a working or family role involving NZSL use, subject expertise).
  <li>Videos that you have asked to make public on NZSL Share</li>
</ul>
<h4>4. Be a Validator</h4>
<p>
  Validators are NZSL Share members who we invite to help us give feedback on NZSL signs. We use your feedback to decide if a sign should be included in the NZSL Online Dictionary.
</p>
<p>
  What you can do:
</p>
<ul>
  <li>Receive a survey with questions about one or more signs
  <li>Respond to the survey if you choose to</li>
</ul>
<p>
  Information we collect:
</p>
<ul>
  <li>Your age category
  <li>Where you live
  <li>Your gender
  <li>Your ethnicity
  <li>Whether you have a working or family role involving NZSL use
  <li>Your subject expertise</li>
</ul>
<p>
  You may choose not to provide these details for us, but if you do, we may not invite you to be a validator, or we may not send you specific surveys (it is important for us to know these details for language variation research).
</p>
<h2>
  How long do we keep personal information?
</h2>
<p>
  We keep your information for as long as you have an NZSL Share account.
</p>
<p>
  If you choose to delete your account:
</p>
<ul>
  <li>Your private folders and sign videos will be deleted
  <li>Your personal information including your account name and contact details will be deleted</li>
</ul>
<p>
  We will keep the following information:
</p>
<ul>
  <li>Videos that you made public before you deleted your account
  <li>Comments that you made on other people’s public signs
  <li>Validation surveys that you completed before you deleted your account</li>
</ul>
<p>
  This information is kept indefinitely for the purpose of linguistic research, but you can request that we remove this information.
</p>
<p>
  Other personal information (e.g. emails that you sent us) will be deleted after three years unless we need to retain it for longer to comply with our legal obligations.
</p>
<h2>
  Who will have access to your information?
</h2>
<p>
  Our staff will have access to your personal information only where they have a genuine need to do so.  We will not share your information with anyone unless permitted or required by law (including the Privacy Act 1993 and Education Act 1989).
</p>
<h2>
  How do we keep your information secure?
</h2>
<p>
  We take all reasonable steps to keep your information safe and secure.  In some instances, your personal information may be transferred, and held, by service providers in New Zealand and overseas (for example, where it is stored using a cloud-based service). Where this occurs, we do everything reasonably within our power to ensure that the service provider also has reasonable security measures in place to protect your information.
</p>
<p>
  We will not transfer your information to an overseas-based service provider unless we are satisfied that the service provider has obligations to protect your information in a way that is comparable to the protections afforded by New Zealand privacy law.
</p>
<h2>
  What are my rights?
</h2>
<p>
  You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong (and you are unable to update it yourself through a relevant online service).  If you would like to do this, please email <a href="mailto:dsru@gmail.com">dsru@gmail.com</a>.
</p>
<p>
  We will respond to your request as soon as reasonably practicable and no later than 20 working days after we receive it.
</p>
<p>
  You also have the right to make a complaint to the Office of the Privacy Commissioner if you think we have breached, or may have breached, your privacy. You can contact the Office of the Privacy Commissioner at <a href="http://www.privacy.org.nz/">www.privacy.org.nz.</a>
</p>
<p>
  In addition, the GDPR gives you the right to:
</p>
<ul>
  <li>withdraw consent, where consent is the legal basis for our processing of your information;</li>
  <li>be forgotten, that is your information to be removed from systems that we use to process your personal information. However, under New Zealand law, we are required to retain certain information under the Public Records Act 2005;</li>
  <li>request copies of your personal information in a structured, commonly used and machine-readable format and/or request us to transmit this information to another person (where this is technically feasible);</li>
  <li>restrict our processing in certain ways;</li>
  <li>object to certain processing activities by us; and</li>
  <li>make a complaint to a supervisory authority.</li>
</ul>
