<% provide(:title, "Rules") %>

<br/>
<h1>Rules</h1>
<br>

<p>To keep NZSL Share a safe community space, please follow these rules:</p>

<ol>
  <li>
    To set up an account, you must be <strong>13 years or older</strong>, or have the permission of a
    parent / guardian.
  </li>
  <br>
  <li>
    <strong>Only upload NZSL sign videos</strong> – not signs from other sign languages or
    unrelated topics.
  </li>
  <br>
  <li>
    <strong>Only upload videos that you have created yourself</strong>. Either film yourself, or make
    sure you ask the person you are filming for permission to share it.
  </li>
  <br>
  <li>
    <strong>Protect your own privacy</strong>.  It is best to film against a plain background. Make sure
    that the environment where you film does not show identifying details such as family
    photographs.
  </li>
  <br>
  <li>
    <strong>Comment on the sign, not the person</strong>. Keep your comments polite and respectful, and focus
    on the sign itself, whether you agree or disagree.
  </li>
  <br>
  <li>
    <strong>Report inappropriate comments</strong> – you can flag comments for an admin to check or remove.
  </li>
  <br>
  <li>
    <strong>Admins have the final say</strong>. The NZSL Share admin team and appointed moderators are responsible
    for approving membership, setting account limits, checking videos before they are shown publicly
    and monitoring reported comments.
  </li>
</ol>
<br>
