.status {
  align-items: center;
  border-radius: $global-radius;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: center;
  max-width: 100px;
  padding: 4px;

  svg {
    margin: 0 4px 0 0;
  }

  &--archived {
    background: get-color(alert);
  }

  &--private {
    background: get-color(royal);
  }

  &--pending {
    background: get-color(pending);
  }

  &--published {
    background: get-color(success);
  }
}
