<% overlay ||= true %>
<div class="video-wrapper" <%= "data-overlay" if overlay %>>
  <%= content_tag :video, video_attributes.merge(class: "video has-video") do %>
    <%= video_sourceset(attachment) %>
  <% end %>
</div>
