<% overlay ||= true %>
<div class="video-wrapper" <%= "data-overlay" if overlay %>>
  <%= content_tag :video, **sign.sign_video_attributes do %>
    <%= sign.sign_video_sourceset %>
  <% end %>

  <i class="video__overlay" alt="Play video" ></i>
</div>
