<div class="sign-card__votes js-sign-votes" id="<%= sign.dom_id(:votes) %>">
  <span class="sign-card__controls__margin"><%= render "signs/votes/agree", sign: sign %></span>

  <span class="sign-card__controls__margin"><%= render "signs/votes/disagree", sign: sign %></span>
</div>
