<div class="sign-card__votes">
  <div class="sign-card__votes--agree grid-x align-middle">
    <%= image_pack_tag "agree.svg", alt: "Agree", class: "sign-card__votes--icon" %>
    <div><%= sign.agree_count %></div>
  </div>
  <div class="sign-card__votes--disagree grid-x align-middle">
    <%= image_pack_tag "disagree.svg", alt: "Disagree", class: "sign-card__votes--icon" %>
    <div><%= sign.disagree_count %></div>
  </div>
</div>
