<ul class="vertical menu icons">
  <li class="is-active"><a href="#"><%= image_pack_tag "media/images/home.svg", width: 20 %><span>Home</span></a></li>
</ul>

<ul class="vertical menu icons">
  <li><a href="#"><%= image_pack_tag "media/images/add.svg" %><span>Add a sign</span></a></li>
  <li><a href="#"><%= image_pack_tag "media/images/camera.svg" %><span>My signs</span></a></li>
  <li><a href="#"><%= image_pack_tag "media/images/folder-collection.svg" %><span>My folders</span></a></li>
</ul>
