  <%# Notice %>
  <% if flash[:notice].present? %>
    <div class="callout success"><%= flash[:notice] %></div>
  <% end %>

  <%# Alert %>
  <% if flash[:alert].present? %>
    <div class="callout alert"><%= flash[:alert] %></div>
  <% end %>
