<div class="grid-container", style="width:100%">
  <div class="grid-x grid-margin-x">
    <div class="cell auto">
      <%# Notice %>
      <% if flash[:notice].present? %>
        <div class="callout success" data-closable>
          <button class="close-button" aria-label="Close alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
          <%= sanitize(flash[:alert], tags: %w[a]) %>
        </div>
      <% end %>

      <%# Alert %>
      <% if flash[:alert].present? %>
        <div class="callout alert"><%= sanitize(flash[:alert], tags: %w[a]) %></div>
      <% end %>
    </div>
  </div>
</div>
