<%# Notice %>
<% if flash[:notice].present? %>
  <div class="notice notice__success"><%= flash[:notice] %></div>
<% end %>

<%# Alert %>
<% if flash[:alert].present? %>
  <div class="notice notice__alert"><%= flash[:alert] %></div>
<% end %>
