<p>Kia Ora <%= @email %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>You are changing your email address to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>You have changed your email address to <%= @resource.email %>.</p>
<% end %>

<p>You can update your email address at any time on your NZSL Share profile</p>

<p>Kind regards</p>

<p>NZSL Share Team</p>

NZSL Share: https://nzslshare.nz<br>
NZSL Online Dictionary: https://nzsl.nz<br>
Learn NZSL: http://www.learnnzsl.nz<br>
Email: DSRU@vuw.ac.nz
