<p>Hello <%= @resource.email %>,</p>

<p>
Someone has invited you to join a team on NZSL Share.
To join the team and set up an NZSL Share account, click on the link below.
</p>

<p>
<%= link_to 'Accept invitation', accept_invitation_url(@resource, invitation_token: @token) %>
</p>

<p>Don't want to join NZSL Share? That's ok you don't have to do anything else.</p>

<p>Thank you,</p>

<p>NZSL Share admin (dsru@vuw.ac.nz)</p>
