<p>Kia Ora <%= @resource.email %></p>

<p>
Someone has invited you to join a team on NZSL Share.
To join the team and set up an NZSL Share account, click on this link: <%= link_to 'Accept invitation', accept_invitation_url(@resource, invitation_token: @token) %>
</p>

<p>Don't want to join NZSL Share? That's ok, you don't have to do anything else.</p>

<p>Kind regards</p>

<p>NZSL Share Team</p>

NZSL Share: https://nzslshare.nz<br>
NZSL Online Dictionary: https://nzsl.nz<br>
Learn NZSL: http://www.learnnzsl.nz<br>
Email: DSRU@vuw.ac.nz
