<p>Kia Ora <%= @resource.email %></p>

<p>Your password has been changed</p>
<p>If you did not ask for this, please contact us (DSRU@vuw.ac.nz)</p>

<p>Kind regards</p>

<p>NZSL Share Team</p>

NZSL Share: https://nzslshare.nz<br>
NZSL Online Dictionary: https://nzsl.nz<br>
Learn NZSL: http://www.learnnzsl.nz<br>
Email: DSRU@vuw.ac.nz
