<p>Kia Ora <%= @resource.email %></p>

<p>Click the link to change your NZSL Share password <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Didn't ask for your password to change? You can ignore this email.</p>
<p>Your password won't change until you click the link and create a new one.</p>

<p>Kind regards</p>

<p>NZSL Share Team</p>

NZSL Share: https://nzslshare.nz<br>
NZSL Online Dictionary: https://nzsl.nz<br>
Learn NZSL: http://www.learnnzsl.nz<br>
Email: DSRU@vuw.ac.nz
